flask
Flask-Cors
-e git+https://github.com/RedisGraph/redisgraph-py#egg=redisgraph
-e git+https://github.com/HTTP-APIs/hydra-python-core#egg=hydra_python_core
-e git+https://github.com/HTTP-APIs/hydra-python-agent@develop#egg=hydra_agent

